@import './base.css';

#app {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'menu interface';
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  box-sizing: border-box;
}
body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 96%);
}

.loginBox {
  grid-column: 1/ span 2;
}
